{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Confirm{% endblock title %}
{% block main-content %}
<div class="container">
 <div class="row my-3">
  <div class="col-sm-6 offset-sm-3">
    <h3>Password Reset Confirm</h3>
    <hr>
    {% if validlink %}
   <form action="" method="post" novalidate class="shadow p-5 ">
    {% csrf_token %}
     {% for fm in form %}
      <div class="form-group mb-3">
      {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
      </div>
     {% endfor %}
     <input type="submit" class="btn btn-primary mt-3" value="Submit">
    </form>
  {% else %}
     <div class="alert alert-danger shadow p-4 text-center">
      <h4>Invalid Link!</h4>
      <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
      <a href="{% url 'password_reset' %}" class="btn btn-danger">Request New Password Reset</a>
     </div>
      {% endif %}
   </div>
  </div> 
 </div>
{% endblock main-content %}